# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare Workers
packages/app/.dev.vars
packages/app/.wrangler

# Electron
packages/electron/release

# 自動生成 (@hono/inertia/vite)
packages/app/src/pages.gen.ts
